{% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}}
        Modify Password
    {% endblock %}

       {% block body %}
      
            <h2> Modify Passwword</h2>
                    <div>
                    {% form_theme passwordModifyForm 'bootstrap_4_horizontal_layout.html.twig' %}
                        {{ form_start(passwordModifyForm) }}
                             {{ form_row(passwordModifyForm.newPassword.first) }}
                             {{ form_row(passwordModifyForm.newPassword.second) }}
                        <button type="submit" class="btn">confirm</button>
                         {{ form_end(passwordModifyForm) }}
                  
                    </div>
     {% endblock %}    