{% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}}
        Modify Features
    {% endblock %}

       {% block body %}
      <h2 style="text-align :center" > {{app.user.username}}, ici vous pouvez modifier vos caractéristiques</h2>
          
                   <div class="container">
                        
                        <div class="row g-2">
                            <div class="col-5">
                                <div class="p-3 border bg-light">    
                                <h2 style="text-align :center" > Modify Personality</h2>
{# Formulaire de personalite #}
                                    {% form_theme modifyPersonalityForm 'bootstrap_4_horizontal_layout.html.twig' %}
                                        {{ form_start(modifyPersonalityForm) }}
                                            {{ form(modifyPersonalityForm) }}
                                        {{ form_end(modifyPersonalityForm) }}
                                </div>
                             </div>
                        
                    
                       
                            <div class="col-5">
                                <div class="p-3 border bg-light">    
                                <h2 style="text-align :center" > Modify Physique</h2>
{# Formulaire de Physique #} 
                        {% form_theme modifyPhysiqueForm 'bootstrap_4_horizontal_layout.html.twig' %}
                            {{ form(modifyPhysiqueForm) }}
                            {{ form_end(modifyPhysiqueForm) }}
                                 </div>               
                            </div>
                        

                          
                            <div class="col-5">
                                <div class="p-3 border bg-light">    
                                <h2 style="text-align :center" > Modify Mode de Vie</h2>
{# Formulaire de Mode de vie #} 
                        {% form_theme modifyLifeStyleForm 'bootstrap_4_horizontal_layout.html.twig' %}
                            {{ form(modifyLifeStyleForm) }}
                            {{ form_end(modifyLifeStyleForm) }}
                                 </div>               
                            </div>
                        </div>
                    </div>    
     {% endblock %} 