{% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}}
        Modify Picture
    {% endblock %}

       {% block body %}
      
            <h2> Modify Picture</h2>

              
                    <div>
                    {% form_theme pictureModifyForm 'bootstrap_4_horizontal_layout.html.twig' %}
                        {{ form_start(pictureModifyForm  ) }}
                            {{ form(pictureModifyForm  ) }}
                        {{ form_end(pictureModifyForm  ) }}
                    </div>
                    
        {% endblock %}