{% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}}
        Rate
    {% endblock %}

       {% block body %}
      
            <h2>  {{ user }}, merci d'attribuer une note et/ou un commentaire à {{ userRate}} (restez courtois)</h2>

              
                    <div>
                     {% form_theme noteForm 'bootstrap_4_horizontal_layout.html.twig' %}
                        {{ form_start(noteForm) }}
                             {{ form_row(noteForm.rate) }}
                             {{ form_row(noteForm.content) }}
                        <button type="submit" class="btn">confirm</button>
                         {{ form_end(noteForm) }}
                    </div>
                    
        {% endblock %}