{% extends 'base.html.twig' %}

    {% block title %}
        {{parent()}}
        Modify Description
    {% endblock %}

        {% block body %}
            <div class="container">
                    <h2 style="text-align :center" > Modify Information </h2>
                    <div class="row g-2">
                       
                            <div class="p-3 border bg-light">    
                       
                                {% form_theme updateForm 'bootstrap_4_horizontal_layout.html.twig' %}
                                    {{ form_start(updateForm) }}
                                        {{form(updateForm)}}
                                    {{ form_end(updateForm) }}
                            </div>
                        </div>
                    </div>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                                <p>  <a class="btn btn-primary" href = "{{ path('profile_password_modify') }}" >Modify Password</a> </p> 
                                <p>  <a class="btn btn-primary" href = "{{ path('profile_features_personality',{'id' : app.user.id}) }}">Modify Features</a> </p> 
                                <p>  <a class="btn btn-primary" href = "{{ path('profile_picture_modify',{'id' : app.user.id}) }}">Modify Picture</a> </p> 
                                <p>  <a class="btn btn-primary" href = "{{ path('view_user_block',{'id' : app.user.id}) }}">Blacklist</a> </p> 

                                <p>  <a class="btn btn-danger" href = "{{ path('profile_delete', {'id' : app.user.id}) }}"> Delete Profil </a></p>  

                        </div>
            </div>            
        {% endblock %}