{% extends 'base.html.twig' %}

    {% block title %} {{parent()}} - {{user.username}}'s profile  {% endblock %}

        {% block body %}
      
            <div class="container-fluid">
                <h2 style="text-align :center" > {{user.username}}</h2> 

                <div>
                {% include '_user.html.twig' %} 
                </div>

                <div>
                        <p><a class="btn btn-primary" href = "{{ path('create_message', {'id' : user.id}) }}">Contact Me</a></p> 
                        <p><a class="btn btn-primary" href = "{{ path('create_rate', {'id' : user.id}) }}">Rate Me</a> </p> 
             
                <h2 style="text-align :center"> Je Suis </h2>
                    <div class="row g-2">
                            <div class="col-4">
                                <h3 style="text-align :center"> Ma Personalité(e)</h3>                       
                                <div class="p-3 border bg-light">
                                    {% if user.personality is same as null %}
                                        <p> La "Personalité" n'a pas été renseigné" </p>

                                    {% else %}
                                        <p> Type de relation souhaitée : {{user.personality.relation}} </p>
                                        <p> Romantique: {{user.personality.romantique}} </p>
                                        <p> Mariage: {{user.personality.mariage}} </p>
                                        <p> Des enfants: {{user.personality.enfant}} </p>
                                    {% endif %}    
                                    </div>   
                            </div>

                            <div class="col-4">
                                <h3 style="text-align :center" >Mon Physique</h3>
                                <div class="p-3 border bg-light">
                                    {% if user.physique is same as null %}
                                        <p> La "Physique" n'a pas été renseigné" </p>

                                    {% else %}
                                        <p> Votre Silhouette: {{user.physique.silhouette}} </p>
                                        <p> Votre style: {{user.physique.style}} </p>
                                        <p> Votre origine: {{user.physique.origine}} </p>
                                        <p> Votre yeux : {{user.physique.yeux}} </p>
                                        <p> Votre cheveux: {{user.physique.cheveux}} </p>
                                    {% endif %}
                                </div>   
                            </div>

                            <div class="col-4">
                                <h3 style="text-align :center">Mon Mode de vie</h3>
                                <div class="p-3 border bg-light">

                                    {% if user.lifestyle is same as null %}
                                        <p> La "Mode de vie" n'a pas été renseigné" </p>

                                    {% else %}
                                        <p> Statut Marital: {{user.lifestyle.statut}} </p>
                                        <p> Je fume: {{user.lifestyle.fume}} </p>
                                        <p> Les enfants: {{user.lifestyle.enfant}} </p>
                                        <p> Je vis : {{user.lifestyle.vis}} </p>
                                        <p> Ma profession : {{user.lifestyle.profession}} </p>
                                        <p> Ma religion : {{user.lifestyle.religion}} </p>
                                        <p> Ma pratique de la religion : {{user.lifestyle.pratique}} </p>
                                        <p> Je mange : {{user.lifestyle.mange}} </p>
                                        <p> Mes animaux : {{user.lifestyle.animaux}} </p>
                                    {% endif %}
                                </div>   
                            </div>
            </div>
                        <div>    
                            <h3>Mes Notes</h3>  
                            {{ average }}
                        </div>

                    <div>
                    <table class="table">
                         <thead>
                            <tr class="table-primary">
                            <th scope="col">#</th>
                            <th scope="col">Note</th>
                            <th scope="col">username</th>
                            <th scope="col">Comment</th>
                            </tr>
                        </thead>
                        {% for notations in notation %}
                         <tbody>
                            <tr>
                                <th scope="row">1</th>
                                    <td>{{ notations.rate }}/10</td>
                                    <td>{{ notations.user }}</td>
                                    <td>{{ notations.content | raw }} </td>
                            </tr>
                        {% endfor %}
                    </div>
       
        {% endblock %}