{% extends 'base.html.twig' %}

{% block title %} {{parent()}} - Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h2 style="text-align :center">Register</h2>
        <div class="container">   
            <div class="row g-2">
                <div class="col-5">
                {% form_theme registrationForm 'bootstrap_4_horizontal_layout.html.twig' %}
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                        
                        {{ form_row(registrationForm.gender) }}
                    
                        {{ form_row(registrationForm.email) }}
                        
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {{ form_row(registrationForm.description) }}

                        {{ form_row(registrationForm.ville) }}
                        {{ form_row(registrationForm.ddn, {
                            label : 'Date de naissance'
                        }) }}
                        {{ form_row(registrationForm.pictureFile) }}

                        {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn btn-primary" type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
{% endblock %}
