     {# Regarde le GENRE de l'utilisateur et s'il y a une photo, si pas de photo affiche une photo par defaut suivant le GENRE #}
<div class="card" style="width: 18rem;">
        {{user.age ~ " ans"}}

            {% if user.gender == 'male' %}
                {% if user.picture == "" %}
                    <img class="card-img-top" src="{{asset('uploads/profilePictures/default_male.png')}}" alt=" Your profile picture">
                {% else %}
                    <img class="card-img-top" src="{{asset(user_profile_pictures_dir ~ user.picture)}}" alt=" Your profile picture"> 
                {% endif %}
            {% endif %}
            
            {% if user.gender == 'female' %}
            
                    {% if user.picture == "" %}
                        <img src="{{asset('uploads/profilePictures/default_female.png')}}" alt=" Your profile picture">
                    {% else %}
                        <img src="{{asset(user_profile_pictures_dir ~ user.picture)}}" alt=" Your profile picture"> 
                    {% endif %}
            {% endif %}
    <div class="card-body">
        <h5 class="card-title"> {{user.description | raw}} </h5>

        <p class="card-text"> Habite à : {{user.ville}} </p>
    </div>

</div>