{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Acceuil
{% endblock %}


{% block body %}
    <h1>Bienvenue sur Notre site de rencontre pour célibataires en manque d'amour </h1>

        <div>
            <p> Pour voir tous les cébitaires disponibles dans votre ville merci de vous <a href = "{{ path('app_login') }}"> connecter</a> ou de vous<a href = "{{ path('app_register') }}"> créer un profil </a>
            </p>

            <p> Pour vous appater sur la marchandise disponible autour de chez vous, voici un échantillon.</p>
        </div>
          
        {% for user in user %}
        <div>
            <h3>{{user.username}}</a> </h3>
            {% include '_user.html.twig' %}    
        </div>
        {% endfor %}
{% endblock %}
