<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Meetic{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                   
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                     <li>  <a  class="navbar-brand" href="{{ path('accueil') }}">Home</a></li>
                     <li class="nav-item">  <a class="nav-link active" href="{{ path('app_logout') }}" tabindex="-1" aria-disabled="true">Logout</a></li>
                    <li class="nav-item">  <a class="nav-link active" href="{{ path('conversation' , {'id' : app.user.id}) }}" tabindex="-1" aria-disabled="true">Message</a></li>
                    <li class="nav-item">  <a class="nav-link active" href="{{ path('profile_modify' , {'id' : app.user.id}) }}" tabindex="-1" aria-disabled="true">Edit Profil</a></li>

                {% else %} 
                    <li class="nav-item">  <a class="nav-link active" href="{{ path('app_register') }}">Créer Utilisateur</a></li>
                    <li class="nav-item">  <a class="nav-link active" href="{{ path('app_login') }}">Login</a></li>
                {% endif %}           
                </ul>
            </div>
        </nav>

        {% block body %}
        {% endblock %}
    </body>
</html>
