{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Home
{% endblock %}

{% block body %} 

<h1>{{app.user.username}} : Nos Célibataires</h1>

       
        {{form(searchForm)}}

    {% for user in user %}
        <div class="container">
            <div class="row g-2">
                <div class="col-3">
                    <div class="p-3 border bg-light">   
                        <h3 style="text-align :center">
                         <a  href = "{{ path('profile_view', {'id' : user.id} ) }}"> {{user.username}}</a> </h3>

                        {% include '_user.html.twig' %}  

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <p> <a class="btn btn-primary" href = "{{ path('profile_view', {'id' : user.id}) }}">Like</a></p>
                            <p> <a class="btn btn-primary" href = "{{ path('profile_view', {'id' : user.id}) }}"> View Profil </a></p>
                        </div>    
                      
                    </div>    
                </div>   
            </div>    
        </div>      
    {% endfor %}              
       
{% endblock %}
