{% extends 'base.html.twig' %}

    {% block title %}
    {{parent()}} - Black List
    {% endblock %}

        {% block body %} 
            <h1> Utilisateurs Bloqué(e)s
          
            {% for blockUsers in blockUser %}

                <div>
                    {{ blockUsers.targetUser}}
               <a class="btn btn-primary" href = "{{ path('delete_user_block', {'id' : blockUsers.id} )  }}"role="button"> Débloquer User</a>

                </div>

            {% endfor %}
        {% endblock %}