{% extends 'base.html.twig' %}

    {% block title %}
    {{parent()}} - Conversation
    {% endblock %}

        {% block body %} 

            <h2 style="text-align :center">{{app.user.username}} : Vos échanges avec les utilisateurs</h2>

                <div class="container-fluid">
                    {% for echange in conversation %}
                        {% if echange.message != null  %} 
                            {% if app.user is same as echange.message.expediteur or app.user is same as echange.message.destinataire and echange.message != null  %} 
                                <div class="row g-2">
                                    <div class="col-4">
                                        <div class="p-3 border bg-light">
                                            <p> <h3> Destinataire:</h3>  {{echange.message.destinataire}}</p>
                                            <p> Contenu: {{echange.message | raw }} </p>
                                            <p> Envoye le :{{echange.createdAt | date('Y/m/d h:i:s') }}</p>

                                            <a class="btn btn-primary" href = "{{ path('conversation_by_id', {id: echange.id} )  }}"role="button"> View Conversation</a>
                                            <a class="btn btn-danger" href = "{{ path('conversation_delete', {id: echange.id} )  }}"role="button"> Delete Conversation</a>
                                        </div>   
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
    
       
        {% endblock %}