{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Messages
{% endblock %}

    {% block body %} 

        <h2 style="text-align :center">{{app.user.username}},  vos Messages :</h2>

            <a class="btn btn-danger" href = "{{ path('user_block', {id: conversation.message.destinataire.id} ) }}"role="button"> Bloquer User</a>       
          
            <div class="container">
                <div class="row g-2">
                     <div class="col-4">
                        <div class="p-3 border bg-light">
                            {% for messages in message  %}

                                {% if conversation is same as messages.conversation %}
                                    <p> De : {{ messages.expediteur.username }} </p>
                                    <p> {{ messages.content | raw }} </p>
                                    <p> {{ messages.createdAt | date('d/m H:i:s') }} </p>

                                {% endif %}

                            {% endfor %}
                            
                            <a class="btn btn-primary" href = "{{ path('new_message', {id: conversation.id} ) }}"role="button"> Repondre</a>
                        </div> 
                    </div>  
                </div> 
            </div> 
              
    
      
    {% endblock %}