{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Formulaire message
{% endblock %}

{% block body %} 

        <h3 style="text-align :center"> Send Message </h3>    
                   <div class="container">
                   
                        {{form(messageForm)}}
                    </div>

    
       
{% endblock %}